input, button {
  display: block;
}

button {
  padding: 0px 2px 0px 2px;
  margin: 1px 2px 1px 2px;
}

span * {
  display: inherit;
}


#content-div {
  height: 400px;
  background-color: greenyellow;
  padding: 20px 20px;
}
